body.on {
    background-color: red;
}

/* .noticia {
    height: 200px;
    border: 2px solid #999;
}
.bg-primary {
    background-color: #EEE;
}

.nuevo-class {
    background-color: red;
}

#btn {
    background-color: cadetblue;
    color: #FFF;
    border-radius: 4px;
    width: 250px;
    height: 42px;
    line-height: 42px;
} */